<div class="flex justify-self-center w-[40%] px-8 rounded-2xl py-5 bg-lightgrey">
  <form (ngSubmit)="submitForm()" class="w-full">
    <h1 class="text-3xl font-extrabold my-4">Ajouter une Catégorie</h1>
    <h2 class="text-2xl font-semibold my-12">Détails de Catégorie</h2>

    <!-- Libellé Catégorie -->
    <div class="mb-4">
      <label for="libelle-categorie" class="block font-medium mb-4"
        >Libellé Catégorie:</label
      >
      <input
        id="libelle-categorie"
        type="text"
        class="w-full p-2 rounded-md bg-clicked placeholder:text-noire outline-none"
        [(ngModel)]="category.libelle"
        name="libelle"
      />
    </div>

    <!-- Taux Horaire -->
    <div class="mb-4">
      <label for="taux-horaire" class="block font-medium mb-4">Taux Horaire:</label>
      <input
        id="taux-horaire"
        type="text"
        class="w-full p-2 rounded-md bg-clicked placeholder:text-noire outline-none"
        [(ngModel)]="category.tauxHoraire"
        name="tauxHoraire"
      />
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-between pt-8">
      <button
        type="button"
        class="px-4 py-2 bg-clicked text-noire rounded-lg"
        (click)="cancelForm()"
      >
        Annuler
      </button>
      <button type="submit" class="px-4 py-2 bg-clicked text-noire rounded-lg">
        Confirmer
      </button>
    </div>
  </form>
</div>