<div
  class="w-7/12 bg-lightgrey rounded-3xl text-center w-7/10 mx-auto py-12 mt-12 mb-8 text-noire px-6"
>
  <h1 class="text-4xl font-semibold mb-5 text-darkgrey">
    Bienvenue sur Journal de Stage : <br />
    Votre Solution de Gestion des Chantiers en Ligne.
  </h1>
  <p class="text-lg">
    Bienvenue sur Journal de Stage, votre plateforme dédiée à la gestion
    simplifiée et efficace des chantiers. <br />
    Conçue pour les professionnels du secteur de la construction, notre
    application web vous permet de suivre et de gérer vos projets en temps réel,
    avec une précision et une facilité inégalées. <br />
    Que vous soyez administrateur ou opérateur sur le terrain, Journal de Stage
    vous offre des outils puissants pour enregistrer les ressources utilisées,
    suivre les progrès des chantiers, et générer des rapports détaillés. <br />
    Grâce à une interface intuitive et des fonctionnalités robustes, vous pouvez
    désormais centraliser toutes les informations de vos projets en un seul
    endroit. <br />
    Explorez notre plateforme dès aujourd'hui et découvrez comment Journal de
    Stage peut transformer votre gestion de chantiers - là où la simplicité
    rencontre l'efficacité.
  </p>
</div>
